.carousel-contain{
    position: relative;
    height: 400px;
    border: 1px solid #eee;
}
.carousel-indexs{
        opacity: 0.5;
}
.carousel-indexs:hover{
    opacity: 1;
}
.carousel-indexs-right{
    position: absolute;
    right: 1rem;
    bottom: 0.5rem;

}

.carousel-index{
    display: block;
    float: left;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    border:1px solid #ccc;
    text-align: center; 
    margin-left:2px;
    text-decoration: none;
    color:#989898;
    background: #e5e5e5;
    transform: skewX(-30deg);

}
.carousel-index:active{
   background: #333;
   color: #e5e5e5;
}
.carousel-index-active{
   background: #333;
   color: #e5e5e5;
}
.carousel-items{
    width: 100%;
    height: inherit;
    overflow: hidden;
}
.carosel-item{
    width: 100%;
    height: inherit;
}
.carousel-image{
    width: inherit;
    height: inherit;
}
